/* Basic Style */
body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
ul {
  margin:0;
  padding: 0px;
  list-style: none;
}
input,button{
  outline:none;
}
button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
button:hover {
  color: #3a3a3a;
}
.visually-hidden {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  pointer-events: none;
}
/* Matrix Style */
.matrix {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
.matrix__img {
  width: 100%;
}
.matrix__link {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {
  .matrix {
    text-align: center;
  }
}
/* Todos Style */
.todos {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}
.todos__title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 49px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
/* New Task */
.new-todo {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-self: center;
}
.new-todo__label {
  display: block;
  width: 85%;
}
.tasks__input, .new-todo__input {
  width: 56%;
  display: inline-block;
  flex-grow: 1
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
.new-todo__input {
  width: 100%;
}
.tasks__input:focus, .new-todo__input:focus {
  color: #333;
}
/* Task list */
.tasks__item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.tasks__item > * {
  vertical-align: middle;
}

.tasks__checkbox {
  margin: 0 10px;
}
.tasks__label {
  box-sizing: border-box;
  font-size: 18px;
  width: 330px;
}
.tasks__input {
  width: 100%
}
.tasks__name {
  padding-left: 10px;
}
.tasks__delete-icon {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.tasks__delete-icon:hover {
  transform: rotateZ(0);
}

/* Completed */
.tasks_complete .tasks__name {
  text-decoration: line-through
  color: #888;
}

/* Edit Task */
.tasks__input {
  display:none
}
.tasks__edit-btn {
  margin-left: auto;
}

.tasks__item_edit .tasks__input {
  display:inline-block;
}

.tasks__item_edit .tasks__name {
  display:none;
}
